<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend's Time</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <main>
        <div id="app" class="text-center">
            <p>
                {{ name }} - {{ time }} {{ currentTimeZone }} 
            </p>
            <input type="text" v-model="selectedFriendName" placeholder="Friend's name" />

            <select v-model="selectedTimeZoneRegion">
                <option v-for="option in options" :value="option.region">
                    {{ option.region }}
                </option>
            </select>
            <button @click="addItem">Add</button>

                <ul>
                    <li v-for="ele, index in list" :key="index" :style="{'background-color': index % 2 == 0 ? 'red': 'green'}">
                        <div :id="index" >
                            {{ ele.name }},
                            {{ ele.timeZone }},
                            {{ getTime(ele.timeZone) }}
                        </div>
                        <button @click="deleteItem(index)">Delete </button>
                        
                    </li>
                </ul>
        </div>
    </main>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const { createApp, ref, onMounted } = Vue;
    const app = createApp({
        data() {
            return {
                name: 'Rishabh Raj Jaiswal',
                selectedTimeZoneRegion: '',
                selectedFriendName: '',
                
                list: [],
                options: [
                    { city: "Calcutta", region: "Asia/Calcutta" },
                    { city: "Honolulu", region: "Pacific/Honolulu" },
                    { city: "Anchorage", region: "America/Anchorage" },
                    { city: "Los Angeles", region: "America/Los_Angeles" },
                    { city: "San Francisco", region: "America/Los_Angeles" },
                    { city: "Vancouver", region: "America/Vancouver" },
                    { city: "Phoenix", region: "America/Phoenix" },
                    { city: "Denver", region: "America/Denver" },
                    { city: "Costa Rica", region: "America/Costa_Rica" },
                    { city: "Chicago", region: "America/Chicago" },
                    { city: "Cancun", region: "America/Cancun" },
                    { city: "Jamaica", region: "America/Jamaica" },
                    { city: "Toronto", region: "America/Toronto" },
                    { city: "Puerto Rico", region: "America/Puerto_Rico" },
                    { city: "Dublin", region: "Europe/Dublin" },
                    { city: "London", region: "Europe/London" },
                    { city: "Rome", region: "Europe/Rome" },
                    { city: "Vatican", region: "Europe/Vatican" },
                    { city: "Berlin", region: "Europe/Berlin" },
                    { city: "Prague", region: "Europe/Prague" },
                    { city: "Madrid", region: "Europe/Madrid" },
                    { city: "Paris", region: "Europe/Paris" },
                    { city: "Warsaw", region: "Europe/Warsaw" },
                    { city: "Algiers", region: "Africa/Algiers" },
                    { city: "Athens", region: "Europe/Athens" },
                    { city: "Cairo", region: "Africa/Cairo" },
                    { city: "Johannesburg", region: "Africa/Johannesburg" },
                    { city: "Istanbul", region: "Europe/Istanbul" },
                    { city: "Jerusalem", region: "Asia/Jerusalem" },
                    { city: "Baghdad", region: "Asia/Baghdad" },
                    { city: "Kuwait", region: "Asia/Kuwait" },
                    { city: "Addis Ababa", region: "Africa/Addis_Ababa" },
                    { city: "Tehran", region: "Asia/Tehran" },
                    { city: "Moscow", region: "Europe/Moscow" },
                    { city: "Katmandu", region: "Asia/Katmandu" },
                    { city: "Hong Kong", region: "Asia/Hong_Kong" },
                    { city: "Kuala Lumpur", region: "Asia/Kuala_Lumpur" },
                    { city: "Singapore", region: "Asia/Singapore" },
                    { city: "Perth", region: "Australia/Perth" },
                    { city: "Tokyo", region: "Asia/Tokyo" },
                    { city: "Melbourne", region: "Australia/Melbourne" }                ],
            }
        }, 
        setup() {
            const time = ref({});
            const tick = () => {
                const settings = { day: 'numeric', month: 'short', year: 'numeric', hour12: true, minute: 'numeric', hour: 'numeric', second: 'numeric' };
                const date = new Date().toLocaleDateString('en-GB', settings);
                time.value = date;

            }
            onMounted(() => {
                setInterval(() => tick(), 1000);
            });
            return {
                time
            }
        },
    

        computed: {
            currentTimeZone() {
                return Intl.DateTimeFormat().resolvedOptions().timeZone;
            },
        },
        methods: {
            deleteItem(index) {
                this.list = this.list.filter((ele, idx) => idx != index);
            },
            addItem() {
                this.list.push({
                    name: this.selectedFriendName,
                    timeZone: this.selectedTimeZoneRegion
                });
            },
            getTime(currentTimeZone) {
                const settings  = { day: 'numeric', month: 'short', year: 'numeric', hour12: true, minute: 'numeric', hour: 'numeric', second: 'numeric'};
                const date = new Date().toLocaleDateString('en-GB', {timeZone: currentTimeZone, ...settings});
                return date;
            }
        }

    });
    

    app.mount('#app');
</script>
</body>
</html>